{% extends 'base.html' %} {% block content %}
<section
  class="position-relative py-4 py-xl-5"
  style="background-color: #f5efe6"
>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="p-1" style="color: #388e3c; font: bold">Detect Disease</h2>
        <h5 class="text-center mb-1 text-muted">
          Simply upload your plant's leaf image and see the magic of AI.
        </h5>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-7 col-xl-5">
        <div
          class="card mb-4"
          style="
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 10px 45px -5px rgba(0, 0, 0, 0.8);
          "
        >
          <div class="card-body d-flex flex-column align-items-center">
            <img
              class="mb-3"
              src="https://i.pinimg.com/736x/a8/62/b9/a862b953632d0bc6efc0b6a171481230.jpg"
              alt="Plant Leaf"
              style="
                width: 100%;
                border-radius: 10px;
                max-height: 400px;
                object-fit: cover;
              "
            />
            <form
              action="/submit"
              method="POST"
              enctype="multipart/form-data"
              class="w-100"
            >
              <div class="mb-3">
                <input
                  id="uploadButton"
                  class="form-control"
                  type="file"
                  name="image"
                />
              </div>
              <div class="mb-3">
                <button
                  class="btn btn-primary d-block w-100"
                  type="submit"
                  style="background-color: #8b4513; border-color: #8b4513"
                >
                  Detect Disease
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
